.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: black;
  padding: 20px 0;
}

.App-link {
  color: #61dafb;
}

.App-body {
  max-width: 900px;
  margin: auto;
}

ol {
  margin-top: 20px;
  text-align: left;
}

li {
  margin-bottom: 10px;
  line-height: 1.8rem;
}

.task-summary {
  margin: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
